<html>
	<head>
		<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
		<script src="js/home_menu.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href="css/style.css" type='text/css'>
		<title> Hang 5 </title>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>