<html>
	<head>
		<title> Hang 5 </title>
	</head>
	<body>
		<div class="container">
			<div class="row h-100 align-items-center">
        			<div class="col-sm-12">
					<img id="logo" src="img/logo.png">
        			</div>
			</div>
		</div>
	</body>
</html>